.italics {
  font-style: italic;
  margin: 0;
  padding: 0;
}

#homepage {
  margin-top: 10vh;
}

#homepage #head .display-1 {
  margin-bottom: 50px;
}

#homepage #head button {
  border: none;
}

#page .card{
  position: absolute;
  left: 15%;
  width: 70%;
  top: 15%;
  /* height: 70%; */
  /* background-color: #212529; */
  color: black;
  border-radius: 10px;
  /* overflow-y: scroll; */
  font-size: 20px;

}

#page .half-img{
  width: 45%;
  display: inline;
  margin-left: 4%;
  margin-bottom: 2%;
  border-radius: 20px;

}

#page .full-img{
  width: 75%;
  margin-left: 12.5%;
  margin-bottom: 2%;
  border-radius: 20px;

}

#page .partial-img{
  width: 40%;
  margin-left: 30%;
  margin-bottom: 2%;
  border-radius: 20px;
}

#page p{
  margin-left: 5%;
  margin-right: 5%;
  line-height: 2em;
}

#page .choices {
  text-align: center;
}

#page .choices a{
  margin-right: 2%;
}

#credits #a_img {
  margin: 5% auto 5% auto;
  width: 300px;
  height: 300px;
  background-size: cover;
  transform: rotate(90deg);
  background-position: top;
  border-radius: 50%;
  -webkit-transition: 0.75s; /* Safari */
  transition: 0.75s;
  background-image: url('https://codeassist.club/images/abhijay.jpg');
}
